/*------Grow------*/
.grow {
  animation: grow 2s ease-in-out;
}
@keyframes grow {
  0% {
    transform: scale(0) translateZ(-200px);
  }
  15% {
    transform: scale(0.3) translateZ(-150px);
  }
  30% {
    transform: scale(1.2) translateZ(-50px);
  }
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
