*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*===============VARIABLES===============*/
/*------Colors------*/
$white: white;
$black: black;
$primary-color: #6e02c7;
$secondary-color: #b621fe;
$third-color: #02afac;

/*------Fonts size------*/
$font-size-body: 24px;
$font-size-button: 16px;
$font-size-h1: 40px;
$font-size-p: 14px;
$font-size-footer: 13px;

/*------Background------*/
$background-color: #f5f5f5;

/*------Border------*/
$border-width1: 1px;
$border-width2: 2px;
$border-width3: 3px;
$logo-border-width: 4px;
$border-solid: solid;

/*------Shadows------*/
$logo-shadow-color: rgba(7, 0, 0, 0.918);

$logo-shadow: 0 10px 20px $logo-shadow-color;

/*------Fonts------*/
$text: 'Arial', sans-serif;
$text-weight-regular: 400;
$text-weight-bold: bold;

/*------Table------*/
$secondary-color-even: #b421feb4;

/*------Height------*/
$checkbox-wrapper-height: 40px;
$footer-height: 60px;
$nav-height: 80px;


/*===============APP===============*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: $text;
  font-weight: $text-weight-regular;
  line-height: 1.6;
  min-height: 100vh;
  #body-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: $nav-height;
      flex-shrink: 0;
      nav {
        padding-top: 1rem;
        > *:not(:last-child) {
          margin-right: 1.5rem;
        }
        .nav-button {
          color: $primary-color;
          background-color: $white;
          padding: 6px 12px;
          border-radius: 8px;
          box-shadow: inset 0 0 0 $border-width2 $primary-color;
          -webkit-box-shadow: inset 0 0 0 $border-width2 $primary-color;
          &:hover {
            color: $white;
            background-color: $secondary-color;
          }
        }
        .nav-button.active {
          background-color: $secondary-color;
          color: $white;
          pointer-events: none;
        }
      }
    }
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      width: 100%;
      height: 100%;
      padding: 4rem 6rem;
      #home {
        display: flex;
        justify-content: center;
        align-items: center;
        img#logo {
          width: 100%;
          height: 100%;
          max-width: 450px;
          max-height: 450px;
          border-radius: 50%;
          object-fit: contain;
          box-shadow: $logo-shadow;
          -webkit-box-shadow: $logo-shadow;
          border: $logo-border-width $border-solid $primary-color;
          @media (width <= 1300px) {
            width: 350px !important;
            height: 350px !important;
          }
        }
      }
      #table {
        width: 100%;
        table {
          background-color: $background-color;
          border: $border-width3 $border-solid $primary-color;
          border-radius: 12px;
          border-collapse: separate;
          border-spacing: 0;
          overflow: hidden;
          thead {
            tr {
              background-color: $primary-color;
              th {
                color: $white;
                text-align: center;
              }
            }
          }
          tbody {
            tr {
              td {
                text-align: center;
                .find-or-not {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
              .class-column {
                overflow: "hidden";
                text-overflow: "ellipsis";
                white-space: "nowrap";
              }
              &:nth-child(even) {
                background-color: $secondary-color-even;
              }
            }
          }
        }
        #pagination-wrapper {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 1.25rem;
          #pagination-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 0 0.5rem;
            #total-result {
              text-align: left;
              font-size: 14px;
              font-weight: $text-weight-bold;
              color: $primary-color;
              padding-right: 0.5rem;
            }
            #pagination {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              text-align: right;
              #rows {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                button {
                  svg {
                    color: $primary-color;
                  }
                  &:hover {
                    color: $white;
                    border: $border-width2 $border-solid $primary-color;
                    svg {
                      color: $white;
                    }
                  }
                }
              }
              button {
                border: $border-width2 $border-solid $primary-color;
                &:hover {
                  border: none;
                  background-color: $secondary-color;
                }
              }
              button.next, button.previous {
                color: $primary-color;
                &:hover {
                  color: $white;
                  border: $border-width2 $border-solid $primary-color;
                }
              }
            }
          }
        }
      }
      #map-container {
        width: 100%;
        #map {
          height: calc(100vh - $nav-height - $footer-height - $checkbox-wrapper-height);
          border: $border-width3 $border-solid $primary-color;
          .ol-zoom {
            margin: 1rem;
            border: $border-width2 $border-solid $primary-color;
            .ol-zoom-in {
              color: $primary-color;
            }
            .ol-zoom-out {
              color: $primary-color;
            }
          }
        }
        #checkbox-wrapper {
          display: flex;
          justify-content: center;
          #checkbox-container {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: $checkbox-wrapper-height;
            margin: 1rem;
            padding: 0.5rem 1rem;
            gap: 1rem;
            border: $border-width2 $border-solid $primary-color;
            border-radius: 8px;
            #checkbox-div {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              button[role="checkbox"] {
                width: 1rem;
                height: 1rem;
              }
              button#checkbox-Stone {
                background-color: #1f77b4;
              }
              button#checkbox-Iron {
                background-color: #ff7f0e;
              }
              button#checkbox-Stony-Iron {
                background-color: #2ca02c;
              }
              button#checkbox-null {
                background-color: #000000;
              }
            }
          }
        }
      }
      #charts {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        gap: 80px;
        box-sizing: border-box;
        .charts-card {
          border: $border-width2 $border-solid $primary-color;
          h3 {
            color: $primary-color;
            font-weight: $text-weight-bold;
          }
          #chart-meteorite-by-type {
            li {
              margin-right: 30px !important;
            }
          }
        }
      }
      #kpi {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        @media (width >= 768px) {
          grid-template-columns: repeat(3, 1fr);
        }
        .kpi-card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-width: 250px;
          max-width: 280px;
          border: $border-width2 $border-solid $primary-color;
          overflow: hidden;
          .kpi-card-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem !important;
            width: 100%;
            height: 40px;
            border-bottom: $border-width2 $border-solid $primary-color;
            line-height: 1;
            h3 {
              color: $primary-color;
              font-weight: $text-weight-bold;
              text-align: center;
            }
          }
          .kpi-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            color: $white;
            width: 100%;
            padding: 0.5rem;
            background-color: $secondary-color;
            p {
              text-align: center;
            }
          }
        }
      }
    }
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: $font-size-footer;
      width: 100%;
      padding: 1rem 1rem 2rem 1rem;
      height: $footer-height;
      flex-shrink: 0;
      #copyright {
        color: $primary-color;
        font-weight: $text-weight-bold;
        margin-right: 0.75rem;
      }
      #heart {
        font-size: 1rem;
        color: red;
        margin-right: 0.25rem;
      }
      .text-bold {
        font-weight: $text-weight-bold;
      }
      #authors {
        display: flex;
        align-items: center;
        .linkedin-link {
          color: $secondary-color;
        }
      }
    }
  }
}
