:root {
  --accent-color: #6e02c7;
  --primary-color: #02afac;
  --secondary-color: #226A90;

  --meteorite-type-iron: #ff7f0e;
  --meteorite-type-stone: #6e3b00;
  --meteorite-type-stony-iron: #2ca02c;
  --meteorite-type-null: #383838;

  --active-rod-color: #FF0000;
  --rod-color: #02afac;

  --bronze-color: #a93900;
  --gold-color: #ffc400;
  --silver-color: #9e9e9e;

  --north-color: #4F9DFF;
  --south-color: #FF6F61;
}
