:root {
  --accent-color: #6e02c7;

  --meteorite-type-iron: #ff7f0e;
  --meteorite-type-stone: #1f77b4;
  --meteorite-type-stony-iron: #2ca02c;
  --meteorite-type-null: #383838;

  --rod-color: #02afac;
}
