:root {
  --accent-color: #6e02c7;
  --primary-color: #02afac;
  --secondary-color: #226A90;

  --meteorite-type-iron: #ff7f0e;
  --meteorite-type-stone: #1f77b4;
  --meteorite-type-stony-iron: #2ca02c;
  --meteorite-type-null: #383838;

  --active-rod-color: #FF0000;
  --rod-color: #02afac;
}
